/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

/* CUSTOM ANIMATIONS */
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes spiral {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}

@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    } 
  }

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@keyframes fadeOut {
0% { opacity: 1; }
100% { 
    opacity: 0; 
    display: none;
}
}

@keyframes scale {
to {
    transform:
        scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
}
}

/* UNIVERSAL STYLES */
html {
    scroll-behavior: smooth;    
}
body {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(230, 100%, 95%);
    background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%)); 
}

h1 {
    width: 100%;
    margin: auto;
    font-family: "Proza Libre", sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    animation: lights 3s 750ms linear infinite;
}

h2 {
    font-family: "Proza Libre", sans-serif;
    margin: 0;
    margin-bottom: 0.75em;
    font-size: 3em;
}

p {
    font-size: 1.25em;
}

section {
    padding: 1em 0;
    margin-bottom: 3.5em;
}

section:first-child {
    padding: 0em;
    margin-bottom: 0em;
}

/* BODY - HEADER*/
header {
    display: none;
    padding: 2em 0em 0em 0em;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}

nav{
    display: flex;
    justify-content: center;
    width: 100%;
}
a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25em;
  }

.nav-items {
    width: 100%;
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
    padding: 0 3em;
}

.nav-item {
    margin: 0.5em;
}

button {
    border: 1px solid white;
    border-radius: 20px;
    background-color: #9483b81a;
    font-size: 1em;
}

button:hover {
    background-color: #c3becd74;
    border: 1px solid gold;
}

/* BODY - MAIN - GENERAL */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* BODY - MAIN -> intro*/
#intro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.portfolio-name {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
}

.spiral {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
}

.character {
    color: white;
    font-size: 3.9em;
    transform: translateY(calc(sin(var(--angle)) * 100px)) scale(calc(cos(var(--angle)) * 0.5 + 0.5));
    animation: spiral 4s linear infinite;
}

.fade-in-text {
    animation: fadeIn 5s;
}

.fade-out-text {
    animation: fadeOut 2s;
}

/* BODY - MAIN -> about-me */
#about-me {
    display: none;
    position: relative;
}

.moment {
    width: 300px;
    height: 80%;
    padding-top: 5em;
    flex-shrink: 0;
}

.about-me-container {
    display: flex;
}
  
.about-me-text-container {
    margin-right: 1em;
    line-height: 1.5;
}

.about-me-text-container ul {
    padding-left: 3em;
}
.about-me-text-container li {
    padding-top: 1em;
    list-style: disc;
    font-size: 1.2em;
}

/* BODY - MAIN -> projects */
#projects {
    display: none;
    line-height: 1.4;
    margin: 0 auto 15em auto;
    text-align: center;
}

#projects h2 {
    text-align: right;
    margin-bottom: 0;
}

.project {
    padding-bottom: 1em;
}
  
#projects h3 {
    display: inline;
    font-weight: bold;
    font-size: 2.5em;
    color:gold;
}

details {
    cursor: pointer;
}

summary {
    list-style: none;    
}

.project-description {
    padding-left: 2em;
}
#project-cards {
	--numCards: 3;
    --card-height: 50vh;
    --card-margin: 4vw;
    --card-top-offset: 1em;
    --outline-width: 0px;
	view-timeline-name: --cards-element-scrolls-in-body;
    list-style: none;
    outline: calc(var(--outline-width) * 10) solid hotpink;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--numCards), var(--card-height));
    gap: var(--card-margin);
    padding-bottom: calc(var(--numCards) * var(--card-top-offset));
    margin-bottom: var(--card-margin);
}
.project-card {
    --card-top-offset: 3em;
    --outline-width: 0px;
	--index0: calc(var(--index) - 1); /* 0-based index */
	--reverse-index: calc(var(--numCards) - var(--index0)); /* reverse index */
	--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
    outline: var(--outline-width) solid lime;
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--card-top-offset));
}

.card-content {
    --outline-width: 0px;
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    color: rgb(10, 5, 7);
    border-radius: 1em;
    overflow: hidden;
    display: grid;
    grid-template-areas: "text img";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    outline: var(--outline-width) solid blue;
    transform-origin: 50% 0%;
    will-change: transform;
}

.card-content {
    --index0: calc(var(--index) - 1); /* 0-based index */
	--start-range: calc(var(--index0) / var(--numCards) * 100%);
	--end-range: calc((var(--index)) / var(--numCards) * 100%);

	animation: linear scale forwards;
	animation-timeline: --cards-element-scrolls-in-body;
	animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
}

.card-content > div {
    display: grid;
    grid-area: text;
    width: 80%;
    place-self: center;
    text-align: left;
    gap: 1em;
    place-items: start;
}

.card-content > figure {
    grid-area: img;
    overflow: hidden;
    height: 450px;
}

.card-content > figure > img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.card-content button {
    border: 1px solid white;
    border-radius: 20px;
    background-color: red;
    font-size: 1em;
    font-weight: 700;
    padding: 0.5rem 1rem;
    color: white;
}

.card-content button:hover {
    border: 2px solid black;
}

#card-1 {
    --index: 1
}

#card-2 {
    --index: 2
}

#card-3 {
    --index: 3
}

.giftFairyImg {
    width: 300px;
    height: 70%;
    flex-shrink: 0;
}
/* BODY - MAIN -> skills & certifications */
#skills-certifications {
    display: none;
}
.skills-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
  
.skills-container > * {
    font-size: 2em;
    width: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.certification {
    padding-bottom: 1em;
    line-height: 1.6;
}

.cert-data {
    padding-left: 2em;
    padding-top: 0.5em;
    width: 50%;
    height: 500px;
  }
  
.cert-title h3 {
    display: inline;
    font-size: 1.25em;
}

.cert-description {
    padding-left: 2em;
}

.cert-description a {
    font-size: 1em;
}

.cert-description i:hover {
    color: blueviolet;
}

/* BODY - MAIN -> experience */
#experience {
    display: none;
    line-height: 1.8;
}

#experience h2 {
    text-align: right;
}

#experience h3 {
    font-size: 1.5em;
}
#experience p {
    padding-left: 2em;
}

/* BODY - MAIN -> contact */
#contact {
    display: none;
}

#contact p {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 1em;
}

/* FOOTER */
footer {
    display: none;
}